@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    /* background: rgb(23, 24, 24); */
    background: rgb(247, 246, 246) ;
    /* color: white; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}