.stock_available{
    border: 2px solid rgba(173, 173, 173, 0.45);
    text-transform: capitalize;
    color: rgb(173, 173, 173); 
    background: white;
    border-radius: 0.5rem;
    min-height: 3rem;
    min-width: 6rem;
    font-weight: 600;
    padding: .5rem;
}


.selected{
    border-width: 3px !important;
    border-color: rgba(1, 49, 55, 0.95) !important; 
    box-shadow: 0 0 12px 1px rgba(12, 175, 193, 0.632); 
    font-weight: 700 !important;
    color: rgb(8, 51, 68) !important;
}

.stock_not_available{
    border: 2px dashed rgba(183, 183, 183, 0.45);
    text-transform: capitalize;
    color: rgb(173, 173, 173); 
    background: white;
    border-radius: 0.5rem;
    min-height: 3rem;
    min-width: 6rem;
    box-shadow: none !important; 
    font-weight: 600;
    padding: .5rem;
}

